{% extends "layout.html" %}
{% block title %}My Tickets{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <h1 style="font-size: 20px;">Create Ticket&nbsp;<a data-bs-toggle="collapse" href="#createTicketCollapse"
        role="button" aria-expanded="false" aria-controls="createTicketCollapse" style="text-decoration: none;"
        class="collapseButton"></a></h1>
    <div class="collapse show" id="createTicketCollapse">
        {% include "/components/create_ticket_form.html" %}
    </div>
    
    <h1 style="font-size: 20px; margin-top: 20px;">Your Tickets ({{ user_tickets|length }})&nbsp;<a data-bs-toggle="collapse" href="#yourTicketsCollapse"
        role="button" aria-expanded="false" aria-controls="yourTicketsCollapse" style="text-decoration: none;"
        class="collapseButton"></a></h1>
    <div class="collapse show" id="yourTicketsCollapse">
        {% if not user_tickets %}
            <p style="font-size: 18px; margin: 20px"> It looks like you don't have any open tickets. To get started, create a ticket using the form above.</p>
        {% else %}
            {% for ticket in user_tickets %}
                {% include "/components/ticket.html" %}
            {% endfor %}
        {% endif %}
    </div>

    {% if user.is_admin %}
        <h1 style="font-size: 20px; margin-top: 20px;">Tickets to Review ({{ tickets_to_review|length }})&nbsp;<a data-bs-toggle="collapse" href="#ticketsToReviewCollapse"
            role="button" aria-expanded="false" aria-controls="ticketsToReviewCollapse" style="text-decoration: none;"
            class="collapseButton"></a></h1>
        <div class="collapse show" id="ticketsToReviewCollapse">
            {% if not tickets_to_review %}
            <p style="font-size: 18px; margin: 20px"> It looks like you don't have any tickets to review.</p>
            {% else %}
                {% for ticket in tickets_to_review %}
                    {% include "/components/ticket.html" %}
                {% endfor %}
            {% endif %}
        </div> 
    {% endif %}
{% endblock %}
{% block javascript %}
    <script>
        function deleteTicket(id)
        {   
            confirmAction("Are you sure you want to delete this ticket?", () => {
                fetch(`/tickets/${id}`, {
                    method: "DELETE"
                }).then(response => {
                    if (response.ok) {
                        reloadPage(); 
                    }
                    else {
                        return response.json().then(err => {
                            const errorMessage = `Error deleting ticket ${err.detail}` || "Create ticket failed. Please try again.";
                            const errorElement = document.getElementById(`error-${id}`);
                            errorElement.innerHTML = errorMessage;
                            errorElement.style.color = "red";
                            throw new Error(errorMessage);
                        });
                    }
                }) 
            });
        }

        async function resolveTicket(id)
        {           
            confirmAction("Are you sure you want to resolve this ticket?", () => {
                fetch(`/tickets/resolve/${id}`, {
                    method: "PUT"
                }).then(response => {
                    if (response.ok) {
                        reloadPage(); 
                    }
                    else {
                        return response.json().then(err => {
                            const errorMessage = `Error resolving ticket ${err.detail}` || "Resolving ticket failed. Please try again.";
                            const errorElement = document.getElementById(`error-${id}`);
                            errorElement.innerHTML = errorMessage;
                            errorElement.style.color = "red";
                            throw new Error(errorMessage);
                        });
                    }
                });
            });
        }
    </script>
{% endblock %}