{% extends "layout.html" %}
{% block title %}My Tickets{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    {% include "/components/create_ticket_form.html" %}
    <h1 style="font-size: 20px; margin-top: 20px;">Your Tickets: </h1>
    {% if not user_tickets %}
        <p style="font-size: 18px; margin: 20px"> It looks like you don't have any open tickets. To get started, create a ticket using the form above.</p>
    {% endif %}
    {% for ticket in user_tickets %}
        {% include "/components/ticket.html" %}
    {% endfor %}

    {% if user.is_admin %}
        <h1 style="font-size: 20px; margin-top: 20px;">Tickets to Review: </h1>
        {% if not tickets_to_review %}
            <p style="font-size: 18px; margin: 20px"> It looks like you don't have any tickets to review. Sit back and relax.</p>
        {% endif %}
        {% for ticket in tickets_to_review %}
            {% include "/components/ticket.html" %}
        {% endfor %}
    {% endif %}

{% endblock %}
{% block javascript %}
<script>
    function deleteTicket(id)
    {   
        confirmAction("Are you sure you want to delete this ticket?", () => {
            fetch(`/tickets/${id}`, {
                method: "DELETE"
            }).then(response => {
                if (response.ok) {
                    reloadPage(); 
                }
                else {
                    return response.json().then(err => {
                        const errorMessage = `Error deleting ticket ${err.detail}` || "Create ticket failed. Please try again.";
                        const errorElement = document.getElementById(`error-${id}`);
                        errorElement.innerHTML = errorMessage;
                        errorElement.style.color = "red";
                        throw new Error(errorMessage);
                    });
                }
            }) 
        });
    }

    async function resolveTicket(id)
    {           
        confirmAction("Are you sure you want to resolve this ticket?", () => {
            fetch(`/tickets/resolve/${id}`, {
                method: "POST"
            }).then(response => {
                if (response.ok) {
                    reloadPage(); 
                }
                else {
                    return response.json().then(err => {
                        const errorMessage = `Error resolving ticket ${err.detail}` || "Resolving ticket failed. Please try again.";
                        const errorElement = document.getElementById(`error-${id}`);
                        errorElement.innerHTML = errorMessage;
                        errorElement.style.color = "red";
                        throw new Error(errorMessage);
                    });
                }
            });
        });
    }
</script>
{% endblock %}