{% extends "layout.html" %}
{% block title %}View Ticket{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <a href="/my-tickets-page" style="text-decoration: none;">
        <i class="bi bi-arrow-return-left" style="font-style: normal;"> Exit detailed view</i>
    </a>
    <div class="card w-75" style="margin: 20px; box-shadow: 2px 2px 5px lightgray;">
        <div class="card-header" style="padding-top: 20px; padding-bottom: 20px;">
            <h1 class="card-title" style="font-size: 20px;">{{ ticket.title}}</h1>
            <h2 style="font-size: 16px; ">{{ ticket.id }}</h2>
            <h3 class="card-subtitle" style="font-size: 16px; font-weight: lighter;">
                By {{ ticket.author.username }} 
                on <span class="utc-date" data-datetime="{{ ticket.creation_datetime }}"></span> 
                at <span class="utc-time" data-datetime="{{ ticket.creation_datetime }}"></span>
            </h3>    
        </div>
        <div class="card-body">
            <p>{{ ticket.content }}</p>

            {% include "/components/create_comment_form.html" %}

            <h1 style="font-size: 20px; margin-top: 20px; margin-bottom: 20px;"> 
                <i class="bi bi-chat" style="font-size: 20px; vertical-align: text-top;"></i>&nbsp;{{ ticket.comments|length }} Comments
                <a data-bs-toggle="collapse" href="#commentsCollapse"
                role="button" aria-expanded="false" aria-controls="commentsCollapse" style="text-decoration: none;"
                class="collapseButton"></a>
            </h1>
            <div class="collapse show" id="commentsCollapse">
                {% for comment in ticket.comments %}
                    <div style="margin-bottom: 10px; padding: 15px; border-radius: 10px; box-shadow: 2px 2px 5px lightgray; border: 1px solid #ddd;">
                        <span style="font-size: 14px; font-weight: bold; color: #337ab7; margin-bottom: 5px; display: block;">
                            {{ comment.author.username }} 
                        </span>
                        <span style="font-size: 14px;">{{ comment.content }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}