{% extends "layout.html" %}
{% block title %}View Ticket{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <a href="/{{ page }}" style="text-decoration: none;">
    <i class="bi bi-arrow-return-left" style="font-style: normal;"> Exit detailed view</i>
    </a>
    <h1 style="font-size: 20px; margin-top: 20px;">{{ ticket.title }}</h1>
    <h2 style="font-size: 16px;">{{ ticket.id }}</h2>
    <h2 style="font-size: 16px;">By {{ ticket.author }}</h2>
    <p style="margin-top: 20px">{{ ticket.content }}</p>
    <hr class="border border-1 opacity-75" style="border-color: var(--secondary) !important;">
    {% for comment in ticket.comments %}
        <p>{{ comment.content }}</p>
    {% endfor %}
{% endblock %}