<div style="margin-bottom: 10px; padding: 20px; border-radius: 10px; box-shadow: 2px 2px 5px lightgray; border: 1px solid #ddd;">
    <h1 class="comment-title" style="font-size: 14px; margin-bottom: 5px;">
        <span style="color: var(--primary);">{{ comment.author.username[0]|upper}}{{comment.author.username[1:]}} </span>
        on <span class="utc-date" data-datetime="{{ comment.creation_datetime }}"></span> 
        at <span class="utc-time" data-datetime="{{ comment.creation_datetime }}"></span>
    </h1> 
    <span style="font-size: 14px;">{{ comment.content }}</span>
</div>