<form method="post" action="/" id="createTicketForm" style="margin-top: 20px; margin-bottom: 20px;">
    <textarea type="text" class="form-control" id="contentInput" name="content" required></textarea>
    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
    <p id="commentFormInfo" style="margin-top: 20px;"></p>
    <button type="submit" class="btn btn-primary">
        Comment
        <span id="commentSpinner" style="display: none;">
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span class="visually-hidden" role="status">Loading...</span>
        </span>
    </button>
</form>
<script>
    const commentFormInfo = document.getElementById("commentFormInfo");
    const spinner = document.getElementById("commentSpinner");

    document.getElementById('createTicketForm').addEventListener('submit', function (event) {
        event.preventDefault();
        commentFormInfo.innerHTML = "";

        const formData = new FormData(event.target);
        const content = formData.get("content");

        if(!content || content.trim() === ""){
            commentFormInfo.innerHTML = "Comment cannot be blank.";
            commentFormInfo.style.color = "red";
            return; 
        }

        spinner.style.display = "inline-block"; 

        const formDataJson = JSON.stringify(Object.fromEntries(formData.entries()));
        const ticketId = "{{ticket.id}}";
        fetch(`/tickets/comment/${ticketId}`, {
            method: "POST",
            body: formDataJson,
            headers: {
                "Content-Type": "application/json"
            },
        }).then(response => {
            spinner.style.display = "none"; 
            if (response.ok) {
                location.replace("{{ page }}")
            }
            else {
                return response.json().then(err => {
                    const errorMessage = err.detail || "Adding comment failed. Please try again.";
                    commentFormInfo.innerHTML = errorMessage;
                    commentFormInfo.style.color = "red";
                    throw new Error(errorMessage);
                });
            }
        }).catch(error => {
            spinner.style.display = "none"; 
            console.log(error)
        })
    });
</script>