<div class="card w-75" style="margin: 20px; box-shadow: 2px 2px 5px lightgray;">
    <div class="card-body">
        <form method="post" action="/" style="display: flex; flex-wrap: wrap;" id="createTicketForm">
            <div class="mb-3" style="flex-basis: 100%;">
                <label for="titleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="titleInput" name="title" required />
            </div>
            <div class="mb-3" style="flex-basis: 100%;">
                <label for="contentInput" class="form-label">Content</label>
                <textarea type="text" class="form-control" id="contentInput" name="content" required></textarea>
            </div>
            <p id="ticketFormInfo"></p>
            <div style="flex-basis: 100%;">
                <button type="submit" class="btn btn-primary">
                    Submit
                    <span id="createTicketSpinner" style="display: none;">
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="visually-hidden" role="status">Loading...</span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    const ticketFormInfo = document.getElementById("ticketFormInfo");
    const createTicketSpinner = document.getElementById("createTicketSpinner");
    const createTicketButton = document.querySelector("#createTicketForm button[type='submit']");

    document.getElementById('createTicketForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        const title = formData.get("title");
        const content = formData.get("content");

        if(!title || title.trim() === ""){
            ticketFormInfo.innerHTML = "Title cannot be blank.";
            ticketFormInfo.style.color = "red";
            return; 
        }

        if(!content || content.trim() === ""){
            ticketFormInfo.innerHTML = "Content cannot be blank.";
            ticketFormInfo.style.color = "red";
            return; 
        }

        createTicketSpinner.style.display = "inline-block";
        createTicketButton.disabled = true; 

        const formDataJson = JSON.stringify(Object.fromEntries(formData.entries()));
        fetch("/tickets", {
            method: "POST",
            body: formDataJson,
            headers: {
                "Content-Type": "application/json"
            },
        }).then(response => {
            if (response.ok) {
                location.replace("{{ page }}")
            }
            else {
                return response.json().then(err => {
                    const errorMessage = err.detail || "Create ticket failed. Please try again.";
                    ticketFormInfo.innerHTML = errorMessage;
                    ticketFormInfo.style.color = "red";
                    throw new Error(errorMessage);
                });
            }
        }).catch(error => {
            console.log(error)
        }).finally(() => {
            createTicketSpinner.style.display = "none";
            createTicketButton.disabled = false; 
        });
    });
</script>