<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/login-form" style="margin-top: 15px; display: flex; flex-wrap: wrap;" id="loginForm">
                    <div class="mb-3" style="flex-basis: 100%;">
                      <label for="usernameInput" class="form-label">Username</label>
                      <input type="text" class="form-control" id="usernameInput" name="username" required>
                    </div>
                    <div class="mb-3" style="flex-basis: 100%;">
                      <label for="passwordInput" class="form-label">Password</label>
                      <input type="password" class="form-control" id="passwordInput" name="password" required>
                    </div>
                    <p id="formSubmitInfo" style="color: red; font-style: italic;"></p>
                    <div style="flex-basis: 100%; margin-top: 15px;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <p style="margin-top: 30px;">Don't have an account? <a href="#">Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    info = document.getElementById("formSubmitInfo")
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = JSON.stringify(Object.fromEntries(new FormData(event.target).entries()));
        fetch("/auth-sessions/login", {
            method: "POST", 
            body: formData, 
            headers: {
                "Content-Type": "application/json"
            },
        }).then(response => {
            if(response.ok){
                const loginModalElement = document.getElementById("loginModal");
                const loginModal = bootstrap.Modal.getInstance(loginModalElement) || new bootstrap.Modal(loginModalElement);
                loginModal.hide();
                location.replace("{{ page }}")
            }
            else{
                return response.json().then(err => {
                    const errorMessage = err.detail || "Login failed. Please try again.";
                    info.innerHTML = errorMessage;
                    info.style.color = "red";
                    throw new Error(errorMessage);
                });
            }
        }).catch(error => {
            console.log(error)
        })
    });
</script>