<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form style="margin-top: 15px; display: flex; flex-wrap: wrap;">
                    <div class="mb-3" style="flex-basis: 100%;">
                      <label for="emailInput" class="form-label">Email</label>
                      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3" style="flex-basis: 100%;">
                      <label for="passwordInput" class="form-label">Password</label>
                      <input type="password" class="form-control" id="passwordInput" required>
                    </div>
                    <div style="flex-basis: 100%; margin-top: 15px;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <p style="margin-top: 30px;">Don't have an account? <a href="#">Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
</div>