<div class="card w-75" style="margin: 20px; box-shadow: 2px 2px 5px lightgray;">
    <div class="card-body">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 10px;">
            <div style="flex-basis: 50%; float: left">
                <a href="/view-ticket-page/{{ ticket.id }}" style="display: inline-block;"><h1 class="card-title" style="font-size: 18px;">{{ ticket.title }}</h1></a>
                {% if ticket.resolved %}<img src="{{ url_for('static', path='images/check.svg') }}" style="display: inline-block; margin-top: -5px;"/>{% endif %}
                <h2 class="card-subtitle" style="font-size: 16px; margin-bottom: 10px;">Ticket ID: {{ ticket.id }}</h2>
                <h3 class="card-subtitle" style="font-size: 16px; font-weight: lighter;">
                    By {{ ticket.author.username }} 
                    on <span class="utc-date" data-datetime="{{ ticket.creation_datetime }}"></span> 
                    at <span class="utc-time" data-datetime="{{ ticket.creation_datetime }}"></span>
                </h3>
            </div>
            <div style="flex-basis: 50%; float: right; text-align: right;">
                <i class="bi bi-chat" style="font-size: 20px;"></i>
                {{ ticket.comments|length }}
            </div>
        </div>
        <p class="card-text">{{ ticket.content|truncate(400, True, "...") }}</p>


        <button type="button" class="btn btn-primary {{ 'disabled' if ticket.resolved else '' }}" style="background-color: var(--btn-accept); border-color: var(--btn-accept); color: black;" onclick="resolveTicket('{{ ticket.id }}')">Resolve</button>
        <button type="button" class="btn btn-primary" style="background-color: var(--btn-decline); border-color: var(--btn-decline); color: black;" onclick="deleteTicket('{{ ticket.id }}')">Delete</button>
        <p id="error-{{ ticket.id }}" style="margin-top: 10px; color: red;"></p>
    </div>
</div>